:root {
    font-family: sans-serif;
    font-synthesis: none;
    line-height: 1.5;
    font-weight: 400;
    background-color: #535351;
}

body {
    margin: 2rem auto;
    min-width: 320px;
    min-height: 30vh;
    border: 8px solid #252525;
    border-radius: 12px;
    padding: 1rem;
    width: fit-content;
    background-color: #ffffff;
    color: #000000;
    font-family: sans-serif;
}

h1 {
    font-size: 35px;
    line-height: 1.1;
}